[cscs]
# check https://docs.cscs.ch/access/firecrest/#firecrest-deployment-on-alps for possible system and platform combinations
current_system = "daint" # what system/cluster to execute commands on
current_platform = "HPC" # what platform to execute commands on (valid: HPC, ML or CW)


image = "ubuntu" # default docker image to use

command = [
  "sleep",
  "1",
] # command to execute within the container, i.e. the job you want to run

# the sbatch script you want to execute
# this gets templated with values specified in the {{}} and {% %} expressions (see https://keats.github.io/tera/docs/#templates for
# more information on the template language). Note, this can also just be hardcoded without any template parameters.
# Available parameters:
#   name: the name of the job
#   environment_file: the path to the edf environment toml file in the cluster
#   command: the command to run
#   container_workdir: the working directory inside the container
sbatch_script_template = """
#!/bin/bash
#SBATCH --job-name={{name}}
#SBATCH --ntasks=1
#SBATCH --time=1:00:00
srun {% if environment_file %}--environment={{environment_file}}{% endif %} {% if coman_squash %}/coman/coman exec {% endif %}{{command}}
"""

# the edf environment toml file template
# this gets templated with values specified in the {{}} and {% %} expressions (see https://keats.github.io/tera/docs/#templates for
# more information on the template language). Note, this can also just be hardcoded without any template parameters.
# Available parameters:
#   edf_image: the container image to use, in edf format
#   container_workdir: the working directory to use within the container
#   env: a dictionary of key/value pairs for environment variables to set in the container
#   mount: a dictionary of key/value pairs for folders to mount to the container, with key being the path in the cluster and value being the path in the container
edf_file_template = """
{% if edf_image %}image = "{{edf_image}}"{% endif %}
mounts = [
  {% for source, target in mount %}"{{source}}:{{target}}",{% endfor %}
  {% if coman_squash %}"{{coman_squash}}:/coman:sqsh"{% endif%}
]
workdir = "{{container_workdir}}"

[env]
{% for key, value in env %}
{{key}} = "{{value}}"
{% endfor %}

[annotations]
{% if ssh_public_key %}
com.hooks.ssh.enabled = "true"
com.hooks.ssh.authorize_ssh_key = "{{ ssh_public_key }}"
com.hooks.ssh.port = "15263"
{% endif %}
"""

# set environment variables that should be passed to a job
[cscs.env]
# env_var = "env_value"

[cscs.systems]

[cscs.systems.daint]
architecture = ["arm64"]

[cscs.systems.eiger]
architecture = ["amd64"]

[cscs.systems.bristen]
architecture = ["amd64"]

[cscs.systems.clariden]
architecture = ["amd64"]

[cscs.systems.santis]
architecture = ["arm64"]
