[cscs]
current_system = "daint"

image = "ubuntu"

command = ["sleep", "1"]

sbatch_script_template = """
#!/bin/bash
#SBATCH --job-name={{name}}
#SBATCH --ntasks=1
#SBATCH --time=10:00
srun --environment={{environment_file}} {{command}}
"""

edf_file_template = """
image = "{{edf_image}}"
mounts = ["${SCRATCH}:/scratch"]
workdir = "{{container_workdir}}"

[env]
{% for key, value in env %}
{{key}} = "{{value}}"
{% endfor %}
"""

[cscs.env]


[cscs.systems]

[cscs.systems.daint]
architecture = ["arm64"]

[cscs.systems.eiger]
architecture = ["amd64"]
